
@charset "ISO-8859-1";

body{
	  background-color: #0000ff;
	  
}


.row1{
	
	display:flex;
	
	flex-wrap: wrap;
	align-items:center;
	margin-top:25px;
	 justify-content: center;  
	
}


.card1{
	
	width:200px;
	display:block;
	
	 height:320px;  
	
	margin:6px;
	align-items:center;
	border-radius:10px;
	
	
	border-radius: 15px;
    box-shadow: inset 0px 0px 8px gray;
    
    padding:5px;
    
    position:relative;
   
}


.card1::before{
	content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
   
    filter: blur(20px);
    z-index: -1;
}




.card1:hover{
	box-shadow: 0px 0px 3px black;
	color:blue;
	#price{
	color:black;
	}
}  

#productName{
	margin-top:1px;
}
#hrLineInCard{
	
	margin-bottom:0px;
}

#price{
	display:block;
}
#discount{
	display:block;
	height: 26px;
    width: 65px;
	background-color:green;
	color:white;
	
	text-align:center;
	border-radius:5px;
	
}

#priceAndDiscount{
	display:flex;
}

#buyNowSaveRs{
	
	width: 80%;
    margin-left: 10%;
    border-radius: 7px;
    align-items: center;
    background-color: #ffdb3c;
    text-align:center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
    position:absolute;
    bottom:10px
	
}

#buyNowSaveRs:hover{
	background-color: #e6b829;
    transform: scale(1.05);
}

#buyNowSaveRs:active {
    transform: scale(0.95);
}


#buyNow{
	font-size:22px;
	font-weight:bold;
	color:black;
}

#saveRs{
	font-size:18px;
	margin-left:20%;
}


@media only screen and (max-width: 450px) {
	
	
	.card1{
	
	width:140px;
	height:370px;
	margin:2%;
	
	}
	
}

